[class^=guilds] > [class^=guild]:first-child > [class^=guildInner] {
	background-color: transparent !important;
	overflow: visible;
}

[class^=guilds] > [class^=guild]:first-child > [class^=guildInner] svg {
	transition: all 0.3s;
}

[class^=guilds] > [class^=guild][class*=selected]:first-child > [class^=guildInner] svg {
	color: #7289da;
	filter: drop-shadow(0 0 10px #7289da);
}

[class^=guilds] > [class^=guild]:not([class*=selected]):first-child:hover > [class^=guildInner] svg {
	filter: drop-shadow(0 0 10px white);
	color: white;
}
