[class*=popouts-]>:first-child{overflow:display!important}
[class*=popouts-]>:first-child::before{content:"";position:fixed;top:-100vh;left:-100vw;right:-100vw;bottom:-100vh;z-index:-1;pointer-events:none;background:black;animation:popout-backdrop-fade forwards 0.3s}
@keyframes popout-backdrop-fade{0%{opacity:0}100%{opacity:0.5}}